<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809728458064-p180odjl7pm3650uujiodmrc7jm8c53k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809728458064-p180odjl7pm3650uujiodmrc7jm8c53k</string>
	<key>API_KEY</key>
	<string>AIzaSyApAghUAiun5rwoHbiM0mWl49mocPdRv3w</string>
	<key>GCM_SENDER_ID</key>
	<string>809728458064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AutocareVersion3.Auto-Care</string>
	<key>PROJECT_ID</key>
	<string>autocare-v3</string>
	<key>STORAGE_BUCKET</key>
	<string>autocare-v3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809728458064:ios:c832351a8c9ad294f78055</string>
	<key>DATABASE_URL</key>
	<string>https://autocare-v3.firebaseio.com</string>
</dict>
</plist>